#rainbow-title {
    text-align: center;
    font-size: 6.5rem;
    font-family: 'Gluten', cursive;

    padding-top: 1.5rem;
}

#rainbow-title span {
    display: inline-block;
}

#rainbow-title span:nth-child(1) {
    color: rgb(232, 9, 32);
    transform: rotate(3deg);
    -webkit-text-stroke: 3px black;
    animation: leftToRight 1.25s infinite;
}

#rainbow-title span:nth-child(2) {
    color: rgb(242, 103, 10);
    transform: rotate(-3deg);
    -webkit-text-stroke: 2px black;
    animation: rightToLeft 1.25s infinite;
}

#rainbow-title span:nth-child(3) {
    color: rgb(243, 255, 23);
    transform: rotate(3deg);
    -webkit-text-stroke: 3px black;
    animation: leftToRight 1.25s infinite;
}

#rainbow-title span:nth-child(4) {
    color: rgb(29, 191, 56);
    transform: rotate(-3deg);
    -webkit-text-stroke: 2px black;
    animation: rightToLeft 1.25s infinite;
}

#rainbow-title span:nth-child(5) {
    color: rgb(35, 199, 232);
    transform: rotate(3deg);
    -webkit-text-stroke: 3px black;
    animation: leftToRight 1.25s infinite;
}

#rainbow-title span:nth-child(6) {
    color: rgb(40, 22, 242);
    transform: rotate(-3deg);
    -webkit-text-stroke: 2px black;
    animation: rightToLeft 1.25s infinite;
}

#rainbow-title span:nth-child(7) {
    color: rgb(199, 9, 237);
    transform: rotate(3deg);
    -webkit-text-stroke: 3px black;
    animation: leftToRight 1.25s infinite;
}

#rainbow-title span:nth-child(8) {
    color: white;
    transform: rotate(-3deg);
    -webkit-text-stroke: 2px black;
    animation: rightToLeft 1.25s infinite;
}

#rainbow-title span:nth-child(9) {
    color: white;
    transform: rotate(3deg);
    -webkit-text-stroke: 3px black;
    animation: leftToRight 1.25s infinite;
}

#paintbrush {
    color: black;
    transform: rotate(-3deg);
    animation: rightToLeft 1.25s infinite;
    font-size: 5.5rem;
}

@keyframes leftToRight {
    0% {
        transform: rotate(3deg);
        -webkit-text-stroke: 3px black;
    }
    50% {
        transform: rotate(-3deg);
        -webkit-text-stroke: 2px black;
    }
    100% {
        transform: rotate(3deg);
        -webkit-text-stroke: 3px black;
    }
}

@keyframes rightToLeft {
    0% {
        transform: rotate(-3deg);
        -webkit-text-stroke: 2px black;
    }
    50% {
        transform: rotate(3deg);
        -webkit-text-stroke: 3px black;
    }
    100% {
        transform: rotate(-3deg);
        -webkit-text-stroke: 2px black;
    }
}